In [15]:
import numpy as np
import pandas as pd

In [61]:
crime=pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')
crime.head(2)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000

Step 4. What is the type of the columns?¶

In [62]:
crime.columns
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

Have you noticed that the type of Year is int64. But pandas has a different type to work
with Time Series. Let's see it now.
Step 5. Convert the type of the column Year to datetime64

In [60]:
crime['Year']=pd.to_datetime(crime['Year'])
#crime['Year'].unique()

Step 6. Set the Year column as the index of the dataframe

In [77]:
crime=crime.set_index(crime['Year'])
crime.head(2)
#crime=crime.set_index(crime['Year'],drop=True)

,Year,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,1960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,1961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000

Step 7. Delete the Total column¶

In [83]:
#crime=crime.drop(columns='Total')
#crime.head(1)
#del crime['Murder']
crime.head(2)

,Year,Population,Violent,Property,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960,1960,179323175,288460,3095700,17190,107840,154320,912100,1855400,328200
1961,1961,182992000,289390,3198600,17220,106670,156760,949600,1913000,336000

Step 8. Group the year by decades and sum the values
Pay attention to the Population column number, summing this column is a mistake¶

In [85]:
#crime.drop(columns='Year').head()
#crime.groupby('Year').agg({'Year':'count'})
#crime.head(2)
crime.resample('10AS').sum()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'