In [1]:
import numpy as np
import pandas as pd

In [4]:
covid = pd.read_csv(r'D:\nandu\COVID-19 Cases.csv')
covid.head(2)

C:\Users\allur\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
0,Confirmed,NaN,0,0,2/3/2020,Switzerland,Switzerland,NaN,NaN,CH,CHE,NaN,46.8182,8.2275,8654618.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM
1,Deaths,NaN,0,0,3/1/2020,Cyprus,Cyprus,NaN,NaN,CY,CYP,NaN,35.1264,33.4299,1207361.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,5/2/2020 11:35:41 PM

In [5]:
covid.shape

(718080, 18)

1. How many number of deaths in US

In [15]:
len(covid[(covid['Case_Type']=='Deaths') & (covid['Country_Region']=='US') ])

332418

2. To find the number of deaths province wise in US

In [53]:
cod=covid[(covid['Case_Type']=='Deaths')& (covid['Country_Region']=='US')]
cod1=cod.loc[:,['Case_Type','Country_Region','Province_State']]
cod1.groupby(['Country_Region','Province_State']).agg({'Province_State':'count'})

                                         Province_State
Country_Region Province_State
US             Alabama                             7038
               Alaska                              3162
               American Samoa                       102
               Arizona                             1734
               Arkansas                            7854
               California                          6120
               Colorado                            6732
               Connecticut                         1020
               Delaware                             510
               District of Columbia                 306
               Florida                             7038
               Georgia                            16422
               Guam                                 102
               Hawaii                               714
               Idaho                               4692
               Illinois                           10608
               Indiana                             9588
               Iowa                               10302
               Kansas                             10914
               Kentucky                           12444
               Louisiana                           6732
               Maine                               1836
               Maryland                            2652
               Massachusetts                       1734
               Michigan                            8874
               Minnesota                           9078
               Mississippi                         8568
               Missouri                           12036
               Montana                             5916
               Nebraska                            9690
               Nevada                              1938
               New Hampshire                       1224
               New Jersey                          2346
               New Mexico                          3570
               New York                            6528
               North Carolina                     10404
               North Dakota                        5610
               Northern Mariana Islands             102
               Ohio                                9180
               Oklahoma                            8058
               Oregon                              3876
               Pennsylvania                        7038
               Puerto Rico                          102
               Rhode Island                         714
               South Carolina                      4896
               South Dakota                        6936
               Tennessee                           9894
               Texas                              26112
               Utah                                3774
               Vermont                             1632
               Virgin Islands                       102
               Virginia                           13770
               Washington                          4182
               West Virginia                       5814
               Wisconsin                           7548
               Wyoming                             2550

3. To find the no. of confirmed cases in US

In [67]:
cod=covid[(covid['Case_Type']=='Confirmed')& (covid['Country_Region']=='US')]
len(cod)

332418

4. To find the number of confirmed cases province wise

In [69]:
cod=covid[(covid['Case_Type']=='Confirmed')& (covid['Country_Region']=='US')]
cod1=cod.loc[:,['Case_Type','Country_Region','Province_State']]
cod1.groupby(['Country_Region','Province_State']).agg({'Province_State':'count'})

                                         Province_State
Country_Region Province_State
US             Alabama                             7038
               Alaska                              3162
               American Samoa                       102
               Arizona                             1734
               Arkansas                            7854
               California                          6120
               Colorado                            6732
               Connecticut                         1020
               Delaware                             510
               District of Columbia                 306
               Florida                             7038
               Georgia                            16422
               Guam                                 102
               Hawaii                               714
               Idaho                               4692
               Illinois                           10608
               Indiana                             9588
               Iowa                               10302
               Kansas                             10914
               Kentucky                           12444
               Louisiana                           6732
               Maine                               1836
               Maryland                            2652
               Massachusetts                       1734
               Michigan                            8874
               Minnesota                           9078
               Mississippi                         8568
               Missouri                           12036
               Montana                             5916
               Nebraska                            9690
               Nevada                              1938
               New Hampshire                       1224
               New Jersey                          2346
               New Mexico                          3570
               New York                            6528
               North Carolina                     10404
               North Dakota                        5610
               Northern Mariana Islands             102
               Ohio                                9180
               Oklahoma                            8058
               Oregon                              3876
               Pennsylvania                        7038
               Puerto Rico                          102
               Rhode Island                         714
               South Carolina                      4896
               South Dakota                        6936
               Tennessee                           9894
               Texas                              26112
               Utah                                3774
               Vermont                             1632
               Virgin Islands                       102
               Virginia                           13770
               Washington                          4182
               West Virginia                       5814
               Wisconsin                           7548
               Wyoming                             2550