In [1]:
import numpy as np
import pandas as pd

In [ ]:
#cars1-https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv
#cars2-https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv

Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1=pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars1.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN

In [3]:
cars2=pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')
cars2.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic

Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [14]:
#cars1.drop(columns='Unnamed:9')
#cars1.clumns
#del cars1['Unnamed:9']#
cars1=cars1.loc[:,'mpg':'car']
cars1.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu

Step 5. What is the number of observations in each dataset?

In [25]:
#cars1.info
print(cars1.shape)
cars2.shape
#cars1.isna().sum()

(198, 9)

(200, 9)

Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [28]:
cars=cars1.append(cars2)
cars.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320

Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [42]:
owners=np.random.randint(15000,73000,cars.shape[0])
owners

array([28268, 62613, 68085, 61547, 61458, 71122, 66816, 20175, 52852,
       49182, 43506, 33307, 55621, 63932, 72457, 19982, 18464, 72501,
       62510, 65855, 18888, 34197, 53292, 42720, 37605, 71628, 65611,
       50354, 38762, 32883, 24295, 48254, 71978, 36652, 53162, 56953,
       17799, 67995, 35975, 46198, 60063, 67138, 26675, 34583, 38172,
       17647, 35893, 18902, 53307, 23216, 39624, 63668, 60674, 21311,
       24583, 67740, 58943, 49628, 33970, 65435, 42615, 29381, 51536,
       47789, 55924, 68294, 25405, 63178, 39724, 25931, 18408, 50693,
       19131, 62706, 31680, 30923, 40224, 29774, 36943, 32736, 37398,
       38029, 62030, 47287, 55449, 66425, 17550, 53187, 15594, 60068,
       65700, 58719, 61034, 20278, 34412, 39046, 63385, 67451, 45405,
       52175, 72281, 50743, 24082, 46399, 31923, 26119, 17155, 30344,
       71807, 40194, 70575, 44935, 37139, 71455, 34255, 39156, 72308,
       62109, 53504, 40346, 29464, 48623, 50872, 22267, 52222, 41592,
       50267, 37020, 27582, 48904, 46020, 64020, 60415, 52764, 63758,
       49901, 42365, 45083, 27282, 61573, 29161, 34617, 31353, 46517,
       21186, 40925, 23785, 61839, 71945, 20199, 26009, 67952, 16268,
       59374, 28197, 33886, 58336, 37468, 36521, 32077, 56784, 29923,
       20614, 45688, 24249, 35603, 60161, 68822, 66247, 25136, 51427,
       62854, 57684, 66011, 51044, 17482, 57961, 17327, 63146, 70848,
       22884, 28187, 71083, 43239, 16785, 58082, 24937, 66993, 29063,
       40833, 29956, 35095, 43319, 53118, 20621, 41496, 44379, 32326,
       42474, 51892, 29155, 30524, 55076, 16219, 71985, 60683, 39497,
       16450, 15669, 65601, 20286, 29926, 31550, 71007, 44646, 41799,
       66458, 43834, 62858, 59096, 33263, 43390, 52752, 18524, 62051,
       52588, 30010, 36379, 33002, 68680, 41432, 26160, 41411, 29020,
       47625, 36989, 23207, 68042, 28955, 67267, 42757, 16416, 38518,
       28759, 29405, 62270, 48040, 71920, 24029, 68689, 65888, 16590,
       61387, 67281, 55193, 19210, 63976, 57070, 20763, 55723, 51505,
       40282, 23826, 67487, 30355, 22448, 44695, 27132, 21916, 54854,
       41707, 45735, 36036, 44968, 29061, 70770, 18159, 38572, 56842,
       50676, 23240, 64345, 61689, 44740, 56961, 19940, 62144, 36102,
       27994, 35753, 71808, 17747, 52522, 46919, 52739, 64781, 49430,
       67328, 42238, 52298, 41734, 41434, 50545, 34575, 49393, 49741,
       18142, 54032, 53435, 42170, 41004, 29766, 18237, 28789, 23904,
       18683, 44068, 16661, 20829, 35211, 51946, 49777, 44647, 61676,
       30612, 58074, 19505, 44481, 43405, 59296, 51910, 24685, 17640,
       43974, 25912, 40282, 58840, 23948, 56228, 35578, 39618, 51747,
       45473, 68587, 34640, 50484, 25342, 52730, 16350, 23561, 41131,
       33911, 71789, 61153, 47154, 59756, 64215, 61517, 61867, 59337,
       70293, 62978, 66007, 29634, 34250, 23597, 66650, 55787, 31182,
       67932, 30494, 15995, 42884, 58209, 24412, 66284, 44787, 37434,
       26098, 47924, 19287, 52563, 17884, 44097, 49070, 40235, 27404,
       21427, 35951, 38731, 28580, 24640, 16024, 71473, 60345, 23834,
       15159, 48344])

Step 8. Add the column owners to cars

In [44]:
cars['owners']=owners
cars.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,28268
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,62613