In [4]:
def square(y):
    return y*y

In [5]:
square(2)

4

##Lambda Function

In [ ]:
Syntax: lambda arguments:operation
    anonymous function, bcoz it has no name

In [9]:
s=lambda y: y*y
print(s(2))

4

# Map function

In [ ]:
##syntax: map(function, *iterators)

In [14]:
myfriends=['jack','sparrow','harry','potter']
uppercase = []
for names in myfriends:
    #print(names)
    name_upper=names.upper()
    uppercase.append(name_upper)
uppercase

['JACK', 'SPARROW', 'HARRY', 'POTTER']

In [ ]:
##What is Time complexity ??

In [17]:
myfriends=['jack','sparrow','harry','potter']
uppercase=list(map(str.upper,myfriends))
uppercase

['JACK', 'SPARROW', 'HARRY', 'POTTER']

In [21]:
float_numbers=[4.77,2.33,9.02,10.67,0.66,4.67]
round(2.33)

2

In [31]:
ans=[round(i) for i in float_numbers]
ans

[5, 2, 9, 11, 1, 5]

In [34]:
result = list(map(round, float_numbers))
result

[5, 2, 9, 11, 1, 5]

In [ ]:
##Zip and Enumerate
#Zip helps us to iterate over 2 lists in parallel

In [43]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
for i,j in zip(a,b):
    print(i*j)

6
14
24
36
50

In [38]:
for i in a:
    for j in b:
        print(i,j)

1 6
1 7
1 8
1 9
1 10
2 6
2 7
2 8
2 9
2 10
3 6
3 7
3 8
3 9
3 10
4 6
4 7
4 8
4 9
4 10
5 6
5 7
5 8
5 9
5 10

In [ ]:
##zip is not a nested loop

In [ ]:
##Enumerate

In [39]:
a=['abi','malu','sekar','nandhu','mala']
for i,a in enumerate(a):
    print(i,a)

0 abi
1 malu
2 sekar
3 nandhu
4 mala

In [58]:
a=[20,40,50,60]
b=[2,4,6,8]
for i,(a,b) in enumerate(zip(a,b)):
    print(a*b,i)

40 0
160 1
300 2
480 3

In [60]:
myfriends=['jack','sparrow','harry','potter']
index=[1,2,3,4]
with_index=list(zip(myfriends,index))
print(with_index)

[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

In [ ]:
##Make use of Map and Lambda

In [ ]:
s=lambda y: y*y
print(s(2))
##syntax: map(function, *iterators)

In [67]:
s=lambda myfriends: ['jack','sparrow','harry','potter']
index=[1,2,3,4]
ans=list(map(s,index))
ans

[['jack', 'sparrow', 'harry', 'potter'],
 ['jack', 'sparrow', 'harry', 'potter'],
 ['jack', 'sparrow', 'harry', 'potter'],
 ['jack', 'sparrow', 'harry', 'potter']]

In [69]:
list(map(lambda i,j: (i,j),myfriends,index))

[('jack', 1), ('sparrow', 2), ('harry', 3), ('potter', 4)]

In [ ]:
##Filter

In [74]:
salary = [50000,35000,25000,60000]
def lower_salary(salaries):
    return salaries < 50000
for i in salary:
   # print(lower_salary(i))
   if(lower_salary(i)):
        print(i)

35000
25000

In [75]:
filter(lower_salary,salary)

In [ ]:
filter(lower_salary,salary)

In [76]:
list(map(lower_salary,salary))

[False, True, True, False]

In [77]:
list(filter(lower_salary,salary))

[35000, 25000]

In [ ]:
words=['inceptz','batch13','pythn','class']
vowels=['a','e','i','o','u']

In [ ]:
salary = [50000,35000,25000,60000]
def lower_salary(salaries):
    return salaries < 50000
for i in salary:
   # print(lower_salary(i))
   if(lower_salary(i)):
        print(i)

In [105]:
import numpy as np
words=['inceptz','batch13','pythn','class']
#print(type(words))
arr1=np.array(words)
for i in arr1:
    if(arr1[i]%)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [106]:
for i in words:
    for j in i:
        if(j in vowels):
            print(i)

NameError: name 'vowels' is not defined

In [107]:
for i in words:
    word=list(i)
    #print(word)

['i', 'n', 'c', 'e', 'p', 't', 'z']
['b', 'a', 't', 'c', 'h', '1', '3']
['p', 'y', 't', 'h', 'n']
['c', 'l', 'a', 's', 's']

In [108]:
##List comprehension
l1=[1,2,3,4]
[i for i in l1]

[1, 2, 3, 4]

In [ ]:
##Scalar Academy -?????

In [ ]:
##Reduce function
reduce(function,sequence,initial)

In [113]:
from functools import reduce
nos=[1,2,7,9,10,20]
def sum_nums(first,second):
    return first+second
sum_diff_nos=reduce(sum_nums,nos,5)
#sum_diff_nos=reduce(sum_nums,nos)
print(sum_diff_nos)

54